.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #111;
}

.logo {
  color: #fff;
}

.nav-links .link {
  margin-left: 20px;
  color: #bbb;
  text-decoration: none;
}

.nav-links .active {
  color: #fff;
  border-bottom: 2px solid #007bff;
}
